

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="style.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link
	href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap"
	rel="stylesheet">
<title>Stock List Laptops</title>
</head>
<body>
	<div class="title"> Conversation List</div>

	<div class="tableContainer">

		<table>


			<thead>
				<tr>
					<th>Conversation ID</th>
					<th>Customer ID</th>
					<th>Date</th>
					<th>Conversation</th>
					

				</tr> 
			</thead>
			<tbody>
		

	{% for info in contactInfo %}
				<tr>
					<td>{{info.id}}</td>
					<td>{{info.costumer_id}}</td>
					<td>{{info.date}}</td>
					<td>{{info.conversation  | raw}}</td>
					

					
					<td><a href="contactInfo1.php?action=edit&id={{info.id}}" class="button">Edit Conversation</a></td>
				</tr>
		{% endfor %}
			</tbody>

		</table>





	</div>
	
	
	







</body>
</html>